.o_contenedorTarjeta{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-left: 5.25%;
    margin-top: 5vw;

}
.o_infoImg{
    width: 80%;
    height: auto;
}

.o_div_izq{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.o_div_der{
    display: flex;
    width: 50%; 
    justify-content: flex-end;
}

.o_btnDescarga{

    width: 15vw;  
   background-color: #30475E;
  color: white;
  font-size: 0.8vw;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}
.o_btnDescarga:hover{

opacity: 90%;
background-color: gray;
box-shadow: 0px 7px 22px -9px rgba(0,0,0,0.63);
}
