.App {
  text-align: center;
  background-color: #DDDDDD;
}
.iframe{
  overflow-y: hidden;
  overflow-x: hidden;
  width: 85%;
  height: 720px;
  
}

.o_container {
  position: relative;
  text-align: center;
  margin-bottom: 5vw;

}

.o_imgLanding {
  margin-top: 1rem;
  width: 84%;
  height: 35vw;
  object-fit: cover;
}
.videitotry{
  margin-top: 1rem;
  width: 85%;
}

.o_parrafo {
  
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.10vw;
  position: absolute;
  bottom: 5%;
  left: 10%;
  color: black;

 
  
  text-align: justify;
  margin-right: 10vw;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.iframeVideo{
  border: none;
  width: 100%;
  height: 100%;
  animation: clickit 1s

}
.o_img_video{
  width:80%;
  position: relative;

}
.o_btnVideo{
  width: 12vw;  
  position: absolute;
  top: 85vw;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #30475E;
  color: white;
  font-size: 1vw;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}
.o_btnVideo:hover{
  opacity: 90%;
  background-color: gray;
  box-shadow: 0px 7px 22px -9px rgba(0,0,0,0.63);
  }
.o_img_juego{
  width:80%;
  position: relative;

}
.o_btnJuego{
  width: 12vw;  
  position: absolute;
  top: 145vw;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #30475E;
  color: white;
  font-size: 1vw;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.o_btnJuego:hover{
opacity: 90%;
background-color: gray;
box-shadow: 0px 7px 22px -9px rgba(0,0,0,0.63);
}


.iframeJuego{
  border: none;
  border-radius: 2rem;
  width: 82%;
  height: 40vw;
  animation: clickit 1s
}

@keyframes clickit {
  0% {opacity: 0}
 
  100% {opacity: 1}
}
.containerIframe{
  
  width: 100%;
  height: 48vw;
  overflow: hidden;
  
}
.space {
  width: 100%;
  height: 42.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}